global:
  checkNewVersion: false
  sendAnonymousUsage: false

api:
  insecure: true
  dashboard: true

entryPoints:
  web:
    address: ":80"

log:
  level: INFO

providers:
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true

accessLog: {}
